[submodule "roles/apt-role"]
	path = roles/apt-role
	url = git@github.com:rvransible/apt-role.git
[submodule "roles/sshserver"]
	path = roles/sshserver
	url = git@github.com:rvransible/sshserver.git
[submodule "roles/development-userrole"]
	path = roles/development-userrole
	url = git@github.com:rvransible/development-userrole.git
[submodule "roles/usermanagement-role"]
	path = roles/usermanagement-role
	url = git@github.com:rvransible/usermanagement-role.git
